/* App.css */

body {
  background-image: url(https://f.cl.ly/items/2K0P3z2y3X3c052f2B3Y/Image%202013.04.30%2021%3A28%3A02.png);
  margin: 0; 
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

#container {
  text-align: center;
}

#traffic-light {
  background-color: #333;
  width: 120px;
  height: 320px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  background-color: grey;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.light:hover {
  background-color: darken(#333, 15%);
}

.light.active-color1 {
  background-color: #FF0000; /* Rojo */
  box-shadow: 0 0 6em transparent;
}

.light.active-color2 {
  background-color: #FFFF00; /* Amarillo */
  box-shadow: 0 0 6em transparent;
}

.light.active-color3 {
  background-color: #00FF00; /* Verde */
  box-shadow: 0 0 6em transparent;
}

button {
  margin-top: 20px;
}












































